

<div class="o-section__header-bg  t-section__header"></div>
<div class="o-section__content-bg  t-section__content"></div>

<div class="o-container">
    <div class="o-section__container">

        <header class="o-section__header  t-section__header">
            <div class="o-content">
                <h2 class="o-section__heading">
                    Education
                </h2>
            </div>
        </header><!-- /o-section__header -->

        <div class="o-section__content  t-section__content  u-pt-0">

            <div class="o-content">
                <div class="a-education-timeline  c-timeline  t-border-color  o-section__full-top-space" *ngIf="cvData && cvData.education">


                    <div class="c-timeline__item">
                        <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                        <div class="o-content">
                            <div class="o-grid">
                                <div class="o-grid__col-md-5">
                                    <div class="c-work__timeframe">
                                      {{ cvData.education.schools[0].startDate }} &ndash; {{ cvData.education.schools[0].endDate }}
                                    </div>
                                    <h3 class="c-work__heading">
                                      {{ cvData.education.schools[0].school_name }}
                                    </h3>
                                    <h4 class="c-work__title">
                                      {{ cvData.education.schools[0].school_program }}
                                    </h4>
                                    <div class="c-work__location">
                                      {{ cvData.education.schools[0].school_location }}
                                    </div>
                                </div>
                            </div><!-- /o-grid -->
                        </div><!-- /o-content -->
                    </div><!-- /c-timeline__item -->

                    <div class="c-timeline__item">
                      <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                      <div class="o-content">
                          <div class="o-grid">
                              <div class="o-grid__col-md-5">
                                  <div class="c-work__timeframe">
                                    {{ cvData.education.schools[1].startDate }} &ndash; {{ cvData.education.schools[1].endDate }}
                                  </div>
                                  <h3 class="c-work__heading">
                                    {{ cvData.education.schools[1].school_name }}
                                  </h3>
                                  <h4 class="c-work__title">
                                    {{ cvData.education.schools[1].school_program }}
                                  </h4>
                                  <div class="c-work__location">
                                    {{ cvData.education.schools[1].school_location }}
                                  </div>
                              </div>
                          </div><!-- /o-grid -->
                      </div><!-- /o-content -->
                  </div><!-- /c-timeline__item -->

                </div><!-- /c-timeline -->
            </div><!-- /o-content -->

        </div><!-- /o-section__content -->

    </div><!-- /o-section__container -->
</div><!-- /o-container -->

