

              <!-- /c-header -->
              <div class="c-header">

                  <div class="o-section__header-bg  t-section__header"></div>
                  <div class="o-section__content-bg  t-section__content"></div>

                  <!-- /o-container -->
                  <div class="o-container">

                      <!-- /o-section__container -->
                      <div class="o-section__container">

                          <!-- /o-section__header -->
                          <header class="o-section__header  c-header__header  t-section__header">

                              <!-- /c-header__inner-header -->
                              <div class="c-header__inner-header">

                                  <!-- /c-header-avatar -->
                                  <div class="c-header__avatar">
                                      <div class="a-header  c-avatar">
                                          <img class="c-avatar__img" src="assets/avatar.jpg" alt="">
                                      </div><!-- /c-avatar -->
                                  </div>

                              </div>
                          </header>

                          <!-- /o-section__content -->
                          <div class="o-section__content  c-header__content  t-section__content">

                              <!-- /c-header__inner-content -->
                              <div class="c-header__inner-content">

                                  <!-- /c-header__top -->
                                  <div class="c-header__top">

                                      <!-- /c-header__brand -->
                                      <div class="c-header__brand">

                                          <!-- /c-brand -->
                                          <div class="c-brand">
                                              <h1 class="c-brand__title  t-title">
                                                  <span class="c-brand__sizer">
                                                      <span class="a-header  c-brand__first-word  t-title__first-word">
                                                          Jorge
                                                      </span>
                                                      <span class="a-header  c-brand__second-word  t-title__second-word">
                                                          Pereda
                                                      </span>
                                                  </span>
                                              </h1>
                                              <h2 class="a-header  c-brand__sub-title  t-sub-title">
                                                  <span class="c-brand__sizer">
                                                      FullStack Developer &amp; Front-end and Back-end
                                                  </span>
                                              </h2>
                                          </div>

                                      </div>

                                      <!-- /c-header__social-buttons -->
                                      <ul class="c-header__social-buttons  c-social-buttons">
                                          <li class="a-header">
                                              <a href="https://www.facebook.com/profile.php?id=100009259745236" target="_blank" class="c-social-button  t-social-button">
                                                  <i class="fab  fa-lg  fa-facebook-f"></i>
                                              </a>
                                          </li>
                                          <li class="a-header">
                                              <a href="http://teampereda.com/" target="_blank" class="c-social-button  t-social-button">
                                                  <i class="fab  fa-lg  fa-dribbble"></i>
                                              </a>
                                          </li>
                                      </ul>

                                  </div>

                                  <!-- /c-header__contact -->
                                  <div class="c-header__contact">

                                      <hr class="a-header  c-header__contact-divider" style="border-color: black;"/>

                                      <!-- /o-grid -->
                                      <div class="o-grid">

                                          <!-- /o-grid__col -->
                                          <div class="o-grid__col-md-3  o-grid__col-sm-6">

                                              <!-- /o-content -->
                                              <div class="a-header  o-content">
                                                  <div class="o-content__body">
                                                      <h4>Location</h4>
                                                      <address>
                                                          Stockholm, SE
                                                      </address>
                                                  </div>
                                              </div>
                                          </div>

                                          <!-- /o-grid__col -->
                                          <div class="o-grid__col-md-3  o-grid__col-sm-6">

                                              <!-- /o-content -->
                                              <div class="a-header  o-content">
                                                  <div class="o-content__body">
                                                      <h4>Phone</h4>
                                                      <p>
                                                          +46707763018
                                                      </p>
                                                  </div>
                                              </div>
                                          </div>

                                          <!-- /o-grid__col -->
                                          <div class="o-grid__col-md-3  o-grid__col-sm-6">

                                              <!-- /o-content -->
                                              <div class="a-header  o-content">
                                                  <div class="o-content__body">

                                                      <!-- /o-link-container -->
                                                      <a href="#" target="_blank" class="t-link-container">
                                                          <h4>Web</h4>
                                                          <p>
                                                              <span class="t-link-container__item--blended">
                                                                  teampereda.com
                                                              </span>
                                                          </p>
                                                      </a>
                                                  </div>
                                              </div>
                                          </div>

                                          <!-- /o-grid__col -->
                                          <div class="o-grid__col-md-3  o-grid__col-sm-6">

                                              <!-- /o-content -->
                                              <div class="a-header  o-content">
                                                  <div class="o-content__body">

                                                      <!-- /o-link-container -->
                                                      <a href="#" target="_blank" class="t-link-container">
                                                          <h4>Email</h4>
                                                          <p>
                                                              <span class="t-link-container__item--blended">
                                                                  jorgetlpereda@gmail.com
                                                              </span>
                                                          </p>
                                                      </a>
                                                  </div>
                                              </div>
                                          </div>

                                      </div>
                                  </div>

                              </div>
                          </div>

                      </div>

                  </div>

              </div>


