<div class="o-section__header-bg  t-section__header"></div>
<div class="o-section__content-bg  t-section__content"></div>

<div class="o-container">
    <div class="o-section__container">

        <header class="o-section__header  t-section__header">
            <div class="o-content">
                <h2 class="o-section__heading">
                    Expertise
                </h2>
                <div class="o-content__body  o-section__description">
                    Stil learning.
                </div>
            </div>
        </header><!-- /o-section__header -->

        <div class="o-section__content  t-section__content  ">

            <div class="o-grid">

                <div class="o-grid__col-sm-6">
                    <div class="o-media  o-media--block  o-content">
                        <div class="o-media__figure">
                            <div class="c-number  t-primary-color">
                                01
                            </div>
                        </div>
                        <div class="o-media__body  o-content__body">
                            <h3>Advanced CSS</h3>
                            <p>
                              I prefer to work with raw CSS as it allows me to have more control and flexibility in my projects without being limited by the structure of a CSS framework.
                              This approach has served me well in my projects involving PHP, JavaScript, and TypeScript, enabling me to create highly customized and responsive designs.
                        </div>
                    </div><!-- /o-media o-content -->
                </div><!-- /o-grid__col -->

                <div class="o-grid__col-sm-6">
                    <div class="o-media  o-media--block  o-content">
                        <div class="o-media__figure">
                            <div class="c-number  t-primary-color">
                                02
                            </div>
                        </div>
                        <div class="o-media__body  o-content__body">
                            <h3>Front-end Design</h3>
                            <p>
                              I have created templates for various CMS with different types of languages. My experience at <a href="http://chasacademy.se" target="_blank">ChasAcademy</a> helped me refine my frontend skills, particularly with the use of Angular, to create more polished and responsive designs. I have also worked with Laravel for PHP, which has further broadened my expertise in web development.
                            </p>
                        </div>
                    </div><!-- /o-media o-content -->
                </div><!-- /o-grid__col -->

                <div class="o-grid__col-sm-6">
                    <div class="o-media  o-media--block  o-content">
                        <div class="o-media__figure">
                            <div class="c-number  t-primary-color">
                                04
                            </div>
                        </div>
                        <div class="o-media__body  o-content__body">
                            <h3>Object-oriented PHP</h3>
                            <p>
                              I have valuable experience and understanding by working with PHP-based CMS. Learning the importance of having functions inside a class to ensure proper functionality and maintainability of an app. This experience has allowed me to create well-structured and efficient PHP apps.
                            </p>
                        </div>
                    </div><!-- /o-media o-content -->
                </div><!-- /o-grid__col -->

                <div class="o-grid__col-sm-6">
                    <div class="o-media  o-media--block  o-content">
                        <div class="o-media__figure">
                            <div class="c-number  t-primary-color">
                                06
                            </div>
                        </div>
                        <div class="o-media__body  o-content__body">
                            <h3>JavaScript / Back-End</h3>
                            <p>
                              My experience at <a href="http://chasacademy.se" target="_blank">ChasAcademy</a> helped me refine my frontend skills, particularly with the use of Angular, which in turn fortified my understanding of JavaScript and TypeScript.
                              This knowledge has enabled me to create well-structured backends and manage the development of properly functioning applications.
                            </p>
                        </div>
                    </div><!-- /o-media o-content -->
                </div><!-- /o-grid__col -->

            </div><!-- /o-grid -->

        </div><!-- /o-section__content -->

    </div><!-- /o-section__container -->
</div><!-- /o-container -->


