<div class="o-section__header-bg  t-section__header"></div>
<div class="o-section__content-bg  t-section__content"></div>

<div class="o-container">
    <div class="o-section__container">

        <header class="o-section__header  t-section__header">
            <div class="o-content">
                <h2 class="o-section__heading">
                    Experience
                </h2>
                <div class="o-content__body  o-section__description">
                    I&#39;ve been around.
                </div>
            </div>
        </header><!-- /o-section__header -->

        <div class="o-section__content  t-section__content  u-pb-0">

            <div class="a-experience-timeline  c-timeline  t-border-color">

                <div class="c-timeline__item">
                    <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                    <div class="o-content">
                        <div class="o-grid">
                            <div class="o-grid__col-md-5">
                                <div class="c-work__timeframe">
                                    2014 &ndash; 2017
                                </div>
                                <h3 class="c-work__heading">
                                    OlympusMu (Server Game and Website)
                                </h3>
                                <h4 class="c-work__title">
                                    Web and Server Dev.
                                </h4>
                                <div class="c-work__location">
                                    Stockholm, SE
                                </div>
                            </div>
                            <div class="o-grid__col-md-7">
                                <p>
                                  I worked with a game server where my primary responsibility was to seamlessly integrate the server with a website using HTML, PHP, and MSSQL as the database. This project required a deep understanding of real-time data handling, server management, and the effective integration between the game server and the website. This experience allowed me to further enhance my web development skills and gain valuable knowledge in various aspects of server-side development.
                                </p>
                            </div>
                        </div><!-- /o-grid -->
                    </div><!-- /o-content -->
                </div><!-- /c-timeline__item -->

                <div class="c-timeline__item">
                    <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                    <div class="o-content">
                        <div class="o-grid">
                            <div class="o-grid__col-md-5">
                                <div class="c-work__timeframe">
                                    2020 &ndash; present
                                </div>
                                <h3 class="c-work__heading">
                                    WebDeveloper
                                </h3>
                                <h4 class="c-work__title">
                                    Front-end & Back-End
                                </h4>
                                <div class="c-work__location">
                                    Stockholm, SE
                                </div>
                            </div>
                            <div class="o-grid__col-md-7">
                                <p>
                                  My journey with frameworks started when I attended Chas Academy, where I was introduced to this powerful frontend framework. Studying at Chas Academy played a pivotal role in strengthening my understanding of frameworks and its various features, which enabled me to develop efficient, scalable, and user-friendly web applications.
                                </p>
                            </div>
                        </div><!-- /o-grid -->
                    </div><!-- /o-content -->
                </div><!-- /c-timeline__item -->

            </div><!-- /c-timeline -->

        </div><!-- /o-section__content -->

    </div><!-- /o-section__container -->
</div><!-- /o-container -->

