  <div class="o-section__header-bg  t-section__header"></div>
  <div class="o-section__content-bg  t-section__content"></div>

  <div class="o-container">
      <div class="o-section__container">

          <header class="o-section__header  t-section__header">
              <div class="o-content">
                  <h2 class="o-section__heading">
                      Intro
                  </h2>
                  <div class="o-content__body  o-section__description">
                      Here is a little presentation about me
                  </div>
              </div>
          </header><!-- /o-section__header -->

          <div class="o-section__content  t-section__content  ">

              <div class="o-content">
                  <div class="c-intro">
                      <div class="o-content__body">
                          <p>
                            My name is Jorge J. Pereda, and I am a passionate and experienced web developer with a strong background in database management, frontend development, and extensive knowledge of raw JavaScript and TypeScript.
                            I am very interested in the Web Developer position at your company, and I believe my skills and experience would make me an excellent candidate for this role.
                            <br>
                            <br>
                            I have several years of experience working with various database systems, such as MongoDB, MSSQL, and MySQL.
                            I am well-versed in designing, implementing, and maintaining databases, and have also worked on optimizing database performance and security.
                            I have a solid understanding of SQL and NoSQL and am comfortable using both types of databases depending on the project's needs.
                            <br>
                            <br>
                            In terms of frontend development, I have worked with Angular in projects and have extensive experience in developing scalable and user-friendly web applications.
                            I also have experience using Vue.js in certain parts of my projects to enhance user experience and improve website performance. Moreover,
                            I am proficient in raw JavaScript and TypeScript, which allows me to create efficient and maintainable code for a wide range of applications.
                            <br>
                            <br>
                            In addition to my technical expertise, I am an excellent communicator and team player, with the ability to quickly adapt to a new work environment and technologies.
                            I am also results-oriented and am keen on delivering high-quality products that exceed client expectations.
                            <br>
                            <br>
                            I look forward to the opportunity to contribute to you with my skills and experience and to be a part of your successful team. Please do not hesitate to contact me if you would like to know more about me or if you need any additional information. I look forward to hearing from you soon.
                            <br>
                            <br>
                            In fact, this webiste is made in Angular with all the data saved in a NoSQL DB (MongoDB). This website can you find in one of my repositories in my gitHub feed below.
                          </p>
                      </div>
                  </div>
              </div>

          </div><!-- /o-section__content -->

      </div><!-- /o-section__container -->
  </div><!-- /o-container -->

