<div class="o-section__header-bg  t-section__header"></div>
<div class="o-section__content-bg  t-section__content"></div>

<div class="o-container">
  <div class="o-section__container">

      <!-- /o-section__header -->
      <header class="o-section__header  t-section__header">
          <div class="o-content">
              <h2 class="o-section__heading">
                  Skills
              </h2>
              <div class="o-content__body  o-section__description">
                  Every day is learningDay!
              </div>
          </div>
      </header>

      <div class="o-section__content  t-section__content">

          <div class="o-grid" *ngIf="cvData && cvData.skills">

              <!-- /o-grid__col -->
              <div class="o-grid__col-sm-6">
                  <div class="o-content">
                      <div class="o-media  o-media--block">
                          <div class="o-media__figure">
                              <div class="c-number  t-primary-color">
                                {{ cvData.skills.photoshop }}<small>%</small>
                              </div>
                          </div>
                          <div class="o-media__body">
                              <h3>Photoshop</h3>

                          </div>
                      </div>
                      <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                          <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" [style.width.%]="cvData.skills.photoshop"></div>
                      </div>
                  </div>
              </div>

              <!-- /o-grid__col -->
              <div class="o-grid__col-sm-6">
                  <div class="o-content">
                      <div class="o-media  o-media--block">
                          <div class="o-media__figure">
                              <div class="c-number  t-primary-color">
                                {{ cvData.skills.javascript }}<small>%</small>
                              </div>
                          </div>
                          <div class="o-media__body">
                              <h3>JavaScript</h3>
                          </div>
                      </div>
                      <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                          <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" [style.width.%]="cvData.skills.javascript"></div>
                      </div>
                  </div>
              </div>

              <!-- /o-grid__col -->
              <div class="o-grid__col-sm-6">
                  <div class="o-content">
                      <div class="o-media  o-media--block">
                          <div class="o-media__figure">
                              <div class="c-number  t-primary-color">
                                {{ cvData.skills.git }}<small>%</small>
                              </div>
                          </div>
                          <div class="o-media__body">
                              <h3>Git</h3>
                          </div>
                      </div>
                      <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                          <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" [style.width.%]="cvData.skills.git"></div>
                      </div>
                  </div>
              </div>

              <!-- /o-grid__col -->
              <div class="o-grid__col-sm-6">
                  <div class="o-content">
                      <div class="o-media  o-media--block">
                          <div class="o-media__figure">
                              <div class="c-number  t-primary-color">
                                {{ cvData.skills.php }}<small>%</small>
                              </div>
                          </div>
                          <div class="o-media__body">
                              <h3>PHP</h3>
                          </div>
                      </div>
                      <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                          <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" [style.width.%]="cvData.skills.php"></div>
                      </div>
                  </div>
              </div>

              <!-- /o-grid__col -->
              <div class="o-grid__col-sm-6">
                  <div class="o-content">
                      <div class="o-media  o-media--block">
                          <div class="o-media__figure">
                              <div class="c-number  t-primary-color">
                                {{ cvData.skills.typescript }}<small>%</small>
                              </div>
                          </div>
                          <div class="o-media__body">
                              <h3>TypeScript</h3>
                          </div>
                      </div>
                      <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                          <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" [style.width.%]="cvData.skills.typescript"></div>
                      </div>
                  </div>
              </div>

              <!-- /o-grid__col -->
              <div class="o-grid__col-sm-6">
                  <div class="o-content">
                      <div class="o-media  o-media--block">
                          <div class="o-media__figure">
                              <div class="c-number  t-primary-color">
                                {{ cvData.skills.mongodb }}<small>%</small>
                              </div>
                          </div>
                          <div class="o-media__body">
                              <h3>MongoDB</h3>
                          </div>
                      </div>
                      <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                          <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" [style.width.%]="cvData.skills.mongodb"></div>
                      </div>
                  </div>
              </div>

              <!-- /o-grid__col -->
              <div class="o-grid__col-sm-6">
                  <div class="o-content">
                      <div class="o-media  o-media--block">
                          <div class="o-media__figure">
                              <div class="c-number  t-primary-color">
                                {{ cvData.skills.mysql }}<small>%</small>
                              </div>
                          </div>
                          <div class="o-media__body">
                              <h3>MySQL</h3>
                          </div>
                      </div>
                      <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                          <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" [style.width.%]="cvData.skills.mysql"></div>
                      </div>
                  </div>
              </div>

              <!-- /o-grid__col -->
              <div class="o-grid__col-sm-6">
                  <div class="o-content">
                      <div class="o-media  o-media--block">
                          <div class="o-media__figure">
                              <div class="c-number  t-primary-color">
                                {{ cvData.skills.mssql }}<small>%</small>
                              </div>
                          </div>
                          <div class="o-media__body">
                              <h3>MSSQL</h3>
                          </div>
                      </div>
                      <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                          <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" [style.width.%]="cvData.skills.mssql"></div>
                      </div>
                  </div>
              </div>

          </div><!-- /o-grid -->

      </div>

  </div>
</div>



