<div class="o-section__header-bg  t-section__header"></div>
<div class="o-section__content-bg  t-section__content"></div>

<div class="o-container">
  <div class="o-section__container">

      <header class="o-section__header  t-section__header">
          <div class="o-content">
              <h2 class="o-section__heading">
                  Skills
              </h2>
              <div class="o-content__body  o-section__description">
                  Every day is learningDay!
              </div>
          </div>
      </header><!-- /o-section__header -->

      <div class="o-section__content  t-section__content  ">

          <div class="o-grid">

              <div class="o-grid__col-sm-6">
                  <div class="o-content">
                      <div class="o-media  o-media--block">
                          <div class="o-media__figure">
                              <div class="c-number  t-primary-color">
                                  80<small>%</small>
                              </div>
                          </div>
                          <div class="o-media__body">
                              <h3>Photoshop</h3>
                          </div>
                      </div>
                      <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                          <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" data-percent="80"></div>
                      </div>
                  </div>
              </div><!-- /o-grid__col -->

              <div class="o-grid__col-sm-6">
                  <div class="o-content">
                      <div class="o-media  o-media--block">
                          <div class="o-media__figure">
                              <div class="c-number  t-primary-color">
                                  80<small>%</small>
                              </div>
                          </div>
                          <div class="o-media__body">
                              <h3>JavaScript</h3>
                          </div>
                      </div>
                      <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                          <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" data-percent="80"></div>
                      </div>
                  </div>
              </div><!-- /o-grid__col -->

              <div class="o-grid__col-sm-6">
                  <div class="o-content">
                      <div class="o-media  o-media--block">
                          <div class="o-media__figure">
                              <div class="c-number  t-primary-color">
                                  100<small>%</small>
                              </div>
                          </div>
                          <div class="o-media__body">
                              <h3>Git</h3>
                          </div>
                      </div>
                      <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                          <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" data-percent="100"></div>
                      </div>
                  </div>
              </div><!-- /o-grid__col -->

              <div class="o-grid__col-sm-6">
                  <div class="o-content">
                      <div class="o-media  o-media--block">
                          <div class="o-media__figure">
                              <div class="c-number  t-primary-color">
                                  70<small>%</small>
                              </div>
                          </div>
                          <div class="o-media__body">
                              <h3>PHP</h3>
                          </div>
                      </div>
                      <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                          <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" data-percent="70"></div>
                      </div>
                  </div>
              </div><!-- /o-grid__col -->

              <div class="o-grid__col-sm-6">
                  <div class="o-content">
                      <div class="o-media  o-media--block">
                          <div class="o-media__figure">
                              <div class="c-number  t-primary-color">
                                  80<small>%</small>
                              </div>
                          </div>
                          <div class="o-media__body">
                              <h3>TypeScript</h3>
                          </div>
                      </div>
                      <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                          <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" data-percent="80"></div>
                      </div>
                  </div>
              </div><!-- /o-grid__col -->

              <div class="o-grid__col-sm-6">
                  <div class="o-content">
                      <div class="o-media  o-media--block">
                          <div class="o-media__figure">
                              <div class="c-number  t-primary-color">
                                  100<small>%</small>
                              </div>
                          </div>
                          <div class="o-media__body">
                              <h3>MongoDB</h3>
                          </div>
                      </div>
                      <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                          <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" data-percent="100"></div>
                      </div>
                  </div>
              </div><!-- /o-grid__col -->

              <div class="o-grid__col-sm-6">
                  <div class="o-content">
                      <div class="o-media  o-media--block">
                          <div class="o-media__figure">
                              <div class="c-number  t-primary-color">
                                  80<small>%</small>
                              </div>
                          </div>
                          <div class="o-media__body">
                              <h3>MySQL</h3>
                          </div>
                      </div>
                      <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                          <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" data-percent="80"></div>
                      </div>
                  </div>
              </div><!-- /o-grid__col -->

              <div class="o-grid__col-sm-6">
                  <div class="o-content">
                      <div class="o-media  o-media--block">
                          <div class="o-media__figure">
                              <div class="c-number  t-primary-color">
                                  80<small>%</small>
                              </div>
                          </div>
                          <div class="o-media__body">
                              <h3>MSSQL</h3>
                          </div>
                      </div>
                      <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                          <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" data-percent="80"></div>
                      </div>
                  </div>
              </div><!-- /o-grid__col -->

          </div><!-- /o-grid -->

      </div><!-- /o-section__content -->

  </div><!-- /o-section__container -->
</div><!-- /o-container -->



