<div class="c-preloader  js-preloader">
  <div class="c-preloader__spinner  t-preloader__spinner"></div>
</div>

<div class="c-main-container  js-main-container">

  <!-- /o-section -->
  <!-- o-section -->
  <section class="o-section o-section--header t-section t-section--header">
    <app-header></app-header>
  </section>

  <!-- /o-section -->
  <section class="o-section  t-section">
   <app-intro></app-intro>
  </section>

  <!-- /o-section -->
  <section class="o-section  t-section  ">
    <app-expertise></app-expertise>
  </section>

  <!-- /o-section -->
  <section class="o-section  t-section">
    <app-skills></app-skills>
  </section>

  <!-- /o-section -->
  <section class="o-section  t-section  ">
    <app-experience></app-experience>
  </section>

  <!-- /o-section -->
  <section class="o-section  t-section  ">
    <app-education></app-education>
  </section>

  <!-- /o-section -->
  <section class="o-section  t-section  ">
    <app-git-hub></app-git-hub>
  </section>

  <!-- /o-section -->
  <section class="o-section  t-section  o-section--footer">
    <app-footer></app-footer>
  </section>

</div>
